<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Plot</title>
</head>
<body>
    <h1>Show Plot for a Person</h1>
    <p>Please enter the name of the person to show their data and plots:</p>
    <form action="/results" method="post">
        <label for="person_name">Person's Name:</label><br>
        <input type="text" id="person_name" name="person_name"><br><br>
        <input type="submit" value="Submit">
    </form>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
</body>
</html>
